<div class="columns is-centered is-vcentered">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-uppercase">Sign up</p>
      </div>

      <div class="card-content">
        <div class="content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.text_field :first_name, autofocus: true, class: "input", placeholder: "First name" %>
                <span class="icon is-small is-left">
                  <box-icon type='solid' name='user-circle' color="gray"></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.text_field :last_name, class: "input", placeholder: "Last name" %>
                <span class="icon is-small is-left">
                  <box-icon type='solid' name='user-circle' color="gray"></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.text_field :username, class: "input", placeholder: "Username" %>
                <span class="icon is-small is-left">
                  <box-icon type='solid' name='user-circle' color="gray"></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: "Email" %>
                <span class="icon is-small is-left">
                  <box-icon name='id-card'></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <% if @minimum_password_length %>
                <em class="is-size-7">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <p class="control has-icons-left">
                <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password" %>
                <span class="icon is-small is-left">
                  <box-icon name="key"></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm Password" %>
                <span class="icon is-small is-left">
                  <box-icon name="key"></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <%= f.submit "Sign up", class: "button is-primary" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card-footer">
        <%= link_to "Already have an Account?", new_user_session_path, class: "button card-footer-item is-primary" %>
      </div>
    </div>
  </div>
</div>
