<div class="columns is-centered is-vcentered">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-uppercase">Forgot your password?</p>
      </div>

      <div class="card-content">
        <div class="content">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
                <span class="icon is-small is-left">
                  <box-icon name='id-card' color="gray"></box-icon>
                </span>
              </p>
            </div>

            <div class="actions">
              <%= f.submit "Send reset token", class: "button is-primary" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card-footer">
        <%= link_to "Login", new_user_session_path, class: "button is-primary card-footer-item" %>
        <%= link_to "Sign up", new_user_registration_path, class: "button is-danger card-footer-item" %>
      </div>
    </div>
  </div>
</div>
