<div class="columns is-centered is-vcentered">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-uppercase">Login</p>
      </div>
      <div class="card-content">
        <div class="content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <p class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
                <span class="icon is-small is-left">
                  <box-icon name='id-card'></box-icon>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Password" %>
                <span class="icon is-small is-left">
                  <box-icon name="key"></box-icon>
                </span>
              </p>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <label class="label">
                  <%= f.check_box :remember_me %>
                  Remember me
                </label>
              </div>
            <% end %>

            <%= f.submit "Log in", class: "button is-primary" %>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to "Sign up", new_user_registration_path, class: "button card-footer-item is-primary" %>
        <%= link_to "Forgot password", new_user_password_path, class: "button card-footer-item is-danger"%>
      </div>
    </div>

  </div>
</div>