<% if user_signed_in? %>
  <%= link_to "Create A Challenge", challenge_path, class: "button is-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class="is-uppercase">No</th>
      <th class="is-uppercase">Challenge</th>
      <th class="is-uppercase">Votes&nbsp;
        <span>
          <%= link_to challenges_path(sort_by: "votes") do %>
            <i class="fas fa-chevron-up"></i>
          <% end %>
        </span>
      </th>
      <th class="is-uppercase">Created By</th>
      <th class="is-uppercase">Tags</th>
      <th class="is-uppercase">Collaborations</th>
      <th class="is-uppercase">Created At&nbsp;
        <span>
          <%= link_to challenges_path(sort_by: "created_at") do %>
            <i class="fas fa-chevron-up"></i>
          <% end %>
        </span>
      </th>
    </tr>
  </thead>
  <tbody data-challenges="<%= @challenges.to_json %>">
  <% @challenges.each_with_index do |challenge, index| %>
      <tr>
        <th><%= index + 1 %></th>

        <td class="has-text-weight-semibold">
          <p><%= link_to challenge.title, show_path(id: challenge.id), class: 'is-link' %></p>
        </td>

        <td class="has-text-centered">
          <div>
            <span><%= challenge.votes.count %></span>&nbsp;
            <% if user_signed_in? and challenge.user_id == current_user.id %>
              <i class="fas fa-chevron-circle-up is-mute"></i>
            <% elsif user_signed_in? and voted?(challenge.id, current_user.id) %>
              <%= link_to vote_path(id: challenge.id, how: 'down') do %>
                <i class="fas fa-chevron-circle-down is-primary"></i>
              <%end %>
            <% else %>
              <%= link_to vote_path(id: challenge.id) do %>
                <i class="fas fa-chevron-circle-up is-primary"></i>
              <%end %>
            <% end %>
          </div>
        </td>

        <td><%= challenge.user.username %></td>

        <% if challenge_tags(challenge.id).count > 0 %>
        <td>
          <div class="tags">
            <% challenge_tags(challenge.id).each do |tag| %>
              <span class="tag is-primary"><%= tag.name %></span>
            <% end %>
          </div>
        </td>
        <% else %>
        <td>-</td>
        <% end %>

        <td class="has-text-centered">
          <%# challenge_collaborators(challenge.id).each do |collaborator| %>
            <%#= "E#{ collaborator.id }" %>
          <%# end %>
          <%= challenge.collaborations.count %>
        </td>

        <td class="has-text-centered"><%= time_ago_in_words(challenge.created_at) %></td>

        <td>
          <% if user_signed_in? and challenge.user_id == current_user.id %>
            <i class="fas fa-user-plus is-mute"></i>
          <% elsif user_signed_in? and is_a_collaborator?(challenge.id, current_user.id) %>
          <%= link_to collaborate_path(id: challenge.id, how: 'remove') do %>
            <i class="fas fa-user-minus"></i>
          <% end %>
          <% else %>
            <%= link_to collaborate_path(id: challenge.id) do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="is-center">
  <div class="is-size-6 pb-2">
    <%= page_entries_info @challenges, { entry_name: 'challenge' } %>
  </div>
  <div class="pagination is-centered">
    <%= will_paginate @challenges, renderer: BulmaPagination::Rails %>
  </div>
</div>
