<% if user_signed_in? %>
  <%= link_to "Create A Challenge", challenge_path, class: "button is-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class="is-uppercase">No</th>
      <th class="is-uppercase">Challenge</th>
      <th class="is-uppercase">Votes</th>
      <th class="is-uppercase">Created By</th>
      <th class="is-uppercase">Tags</th>
      <th class="is-uppercase">Collaborators</th>
      <th class="is-uppercase">Created At</th>
    </tr>
  </thead>
  <tbody>
  <% @challenges.each_with_index do |challenge, index| %>
      <tr>
        <th><%= index + 1 %></th>

        <td class="has-text-weight-semibold">
          <p><%= challenge.title %></p>
        </td>

        <td>
          <div>
            <span><%= challenge_votes(challenge) %></span>&nbsp;
            <% if user_signed_in? and has_voted?(challenge, current_user) %>
              <%= link_to vote_path(id: challenge.id, how: 'down') do %>
                <i class="fas fa-chevron-circle-down is-primary"></i>
              <%end %>
            <% else %>
              <%= link_to vote_path(id: challenge.id) do %>
                <i class="fas fa-chevron-circle-up is-primary"></i>
              <%end %>
            <% end %>
          </div>
        </td>

        <td><%= challenge.user.username %></td>

        <% if challenge_tags(challenge).count > 0 %>
        <td>
          <div class="tags">
            <% challenge_tags(challenge).each do |tag| %>
              <span class="tag is-primary"><%= tag.name %></span>
            <% end %>
          </div>
        </td>
        <% else %>
        <td>-</td>
        <% end %>

        <td>
          <% challenge_collaborators(challenge).each do |collaborator| %>
            <%= "E#{ collaborator.id }" %>
          <% end %>
        </td>

        <td><%= time_ago_in_words(challenge.created_at) %></td>

        <td>
          <% if user_signed_in? and is_a_collaborator?(challenge, current_user) %>
          <%= link_to collaborate_path(id: challenge.id, how: 'remove') do %>
            <i class="fas fa-user-minus"></i>
          <% end %>
          <% else %>
            <%= link_to collaborate_path(id: challenge.id) do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
