<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to "Hackathon", root_path, class: "navbar-item is-uppercase has-text-weight-bold" %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <% if user_signed_in?  %>
          <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to "#{ current_user.first_name } #{ current_user.last_name }", edit_user_registration_path, class: "navbar-link" %>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                My Challenges
              </a>
              <a class="navbar-item">
                My Collaborations
              </a>
              <a class="navbar-item">
                My Votes
              </a>
              <hr class="navbar-divider">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
            </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Sign up", new_user_registration_path, class: 'button is-primary has-text-weight-bold' %>
              <%= link_to "Log in", new_user_session_path, class: 'button is-light has-text-weight-bold' %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </nav>

  <section class="message">
    <div class="message-body">
      <div class="is-primary">
        <%= notice %>
      </div>
      <div class="is-danger">
        <p><%= alert %></p>
      </div>
    </div>
  </section>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
